/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 65.5%;
}

body {
    padding: 3rem;
    display: grid;
    height: 100vh;
    grid-row: 1fr max-content / max-content;
    justify-items: center;
    font-family: "Poppins", sans-serif;
}